<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amigo</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    {{> include/header}}
    <article>
        <div class="search-area">
            <input type="text" class="search-city-input" placeholder="Try any city"/>
            <button id="search-button">Search</button>
            <ul class="illust-zone">
                <li class="illust seoul"><h5 class="city-name seoul">Seoul</h5></li>
                <li class="illust jeonju"><h5 class="city-name jeonju">Jeonju</h5></li>
                <li class="illust suwon"><h5 class="city-name suwon">Suwon</h5></li>
                <li class="illust busan"><h5 class="city-name busan">Busan</h5></li>
            </ul>
        </div>
    </article>
</body>
</html>