<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
    <title>Amigo</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    {{> include/header}}
    <article>
        <div class="search-area">
            <input type="text" class="search-city-input" placeholder="Try any city"/>
            <button id="search-button">Search</button>
            <ul class="illust-zone">
                <li class="illust seoul"><h5 class="city-name seoul">Seoul</h5></li>
                <li class="illust jeonju"><h5 class="city-name jeonju">Jeonju</h5></li>
                <li class="illust suwon"><h5 class="city-name suwon">Suwon</h5></li>
                <li class="illust busan"><h5 class="city-name busan">Busan</h5></li>
            </ul>
        </div>
        <div class="about-area">
            <div class="about-image">
                <div class="about-sketchbook">
                    <h3 class="about-desc">First time visiting?</h3>
                    <br>
                    <div class="about-button"></div>
                    <!--<button class="about-button">Find out more Amigo</button>-->
                </div>
            </div>
        </div>
    </article>
    {{> include/footer}}
    <script src="/js/header.js"></script>
</body>
</html>