<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
        <title>Amigo confirmed</title>
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
    </head>
    <body>
        {{> include/header}}
        <article>
            <form method="post" action="/articles/locals">
                <label for="title">Title</label>
                <input type="text" class="title-input" name="title" id="title">

                <label for="location">Location</label>
                <input type="text" class="search-city-input" name="location" id="location">

                <label for="contents">Contents</label>
                <textarea class="contents-input" name="contents" id="contents"></textarea>

                <input type="submit" class="post-locals-article">
            </form>
        </article>
        {{> include/footer}}
        <script>
          function activatePlacesSearch() {
            let options = {
              types: ['(cities)'],
              componentRestrictions: {'country': 'kr'}
            };
            let input = document.querySelectorAll('.search-city-input');
            for(let i = 0 ; i < input.length ; i++) {
              let autocomplete = new google.maps.places.Autocomplete(input[i], options);
              autocomplete.inputId = input[i].id;
            }
          }
        </script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7YyhbcRztHC-J6IiocCG6HE07JnmiGmE&libraries=places&language=en&callback=activatePlacesSearch"></script>
        <script type="text/javascript" src="/js/localsArticleForm.js"></script>
    </body>
</html>