<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
        <title>Amigo Profile</title>
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/profile.css">
    </head>
    <body>
        {{> include/header}}
        <article>
            <div class="top-info-zone">
                <div class="profile-image">Change Image</div>
                <input class="profile-image-input" type="file" accept="image/*">
                <div class="basic-info-zone">
                    <h4 class="name">{{profileUser.name}}</h4>
                    <p class="city">{{profileUser.city}}</p>
                    <a href="/users/editProfile/{{profileUser.id}}"><button class="edit-profile-button">Edit profile</button></a>
                </div>
                <div class="statistics-zone">
                    <p class="article">Article 10</p>
                    <p class="reviews">Reviews 10</p>
                    <p class="stars"> 10</p>
                </div>
            </div>
            <table>
                <tr>
                    <th class="view-select about-button selected">About</th>
                    <th class="view-select photos-button">Photos</th>
                    <th class="view-select reviews-button">Reviews</th>
                </tr>
                <tr>
                    <td class="contents" colspan="3">
                        <div class="contents-zone about-contents is-visible">
                            <div class="info city-info-zone">
                                <h6>City</h6> {{profileUser.city}}
                            </div>
                            <div class="info birthday-info-zone">
                                <h6>Birth Date</h6> {{profileUser.birthday}}
                            </div>
                            <div class="info languages-info-zone">
                                <h6>Languages</h6>
                                <ul class="languages">
                                    <li>English <div class="level">Expert</div></li>
                                </ul>
                            </div>
                            <div class="info interest-info-zone">
                                <h6>Interest</h6>
                                <ul class="interests">
                                    <li class="interest">Art & Culture</li>
                                    <li class="interest">Nature</li>
                                </ul>
                            </div>
                            <hr>
                            <div class="info about-me-info-zone">
                                <h6 class="about-me-label">About me</h6>
                                <div class="about-me-zone">
                                    {{profileUser.contents}}
                                </div>
                            </div>
                        </div>
                        <div class="contents-zone photos-contents">Photos</div>
                        <div class="contents-zone reviews-contents">Reviews</div>
                    </td>
                </tr>
            </table>
        </article>
        {{> include/footer}}
        <script src="/js/header.js"></script>
        <script src="/js/profile.js"></script>
        <script>
          function activatePlacesSearch() {
            let options = {
              types: ['(cities)'],
              componentRestrictions: {'country': 'kr'}
            };
            let input = document.querySelectorAll('.search-city-input');
            for(let i = 0 ; i < input.length ; i++) {
              let autocomplete = new google.maps.places.Autocomplete(input[i], options);
              autocomplete.inputId = input[i].id;
            }

          }
        </script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7YyhbcRztHC-J6IiocCG6HE07JnmiGmE&libraries=places&language=en&callback=activatePlacesSearch"></script>
    </body>
</html>