footer {
    margin: 10% 10% 13% 10%;
    padding: 0 3%;
    border-top: solid;
    border-color: #EEE;
    border-width: 2px;
}

footer li {
    list-style: none;
    font-size: 20px;
    color: #AAA;
}

footer ul {
    padding: 0;
    margin: 0;
}

footer h5.subject {
    display: inline-block;
    margin: 0px;
    color: #000;
}

.footer-sections {
    display: inline-block;
    width: 40%;
    margin: 3% 0 0 0;

}

h4.footer-title {
    font-size: 26px;
    margin: 0;
}

.footer-sections.contact-info-zone {
    float: left;
}

.footer-sections.social-networks-zone {
    float: right;
}

.footer-sections.mobile-apps-zone {
    float: right;
    margin-bottom: 60px;
}

.footer-sections.mobile-apps-zone li {
    display: inline-block;
}

.hover-pointer:hover {
    cursor: pointer;
}