article {
    margin: 90px 0 0 0;
}

header {
    margin: -90px 0 0 0;
    display: inline-block;
    height: 90px;
    width: 100%;
    line-height: 90px;
    position: fixed;
    z-index: 1;
    background-color: #FFF;
}

header.show-underline {
    border-bottom: solid;
    border-color: #DDD;
    border-width: 1px;
}

.main-link {
    display: inline-block;
    height: 80%;
    margin-left: 2%;
}

.main-logo {
    height: 100%;
}

.user-option {
    display: inline-block;
    float: right;
    vertical-align: 40%;
    margin-right: 5%;
}

.session-info {
    border: none;
    color: #AAA;
    font-size: 15px;
    margin-left: 5px;
}

.session-info:hover {
    color: #000;
    cursor: pointer;
}

.header-search-city-input {
    display: none;
    vertical-align: top;
    margin: 1% 0 0 3%;
    height: 60%;
    width: 40%;
    box-shadow: 0.1px 1.3px 0.1px 0.5px #d9d9d9;
    background-image: url("/images/search-icon-header.png");
    background-repeat: no-repeat;
    background-position: 15px;
    background-size: 5%;
    text-indent: 15%;
    border: solid;
    border-color: #DDD;
    border-width: 0.017px;
    font-size: 150%;
    outline: none;
    -webkit-transition: width 0.4s ease-in-out;
}

.header-search-city-input.is-visible {
    display: inline-block;
}

.header-search-city-input::-webkit-input-placeholder {
    color: #DDD;
}

.header-search-city-input::-moz-placeholder {
    color: #DDD;
}

.header-search-city-input:-moz-placeholder {
    color: #DDD;
}

.header-search-city-input:-ms-input-placeholder {
    color: #DDD;
}

.header-search-city-input::placeholder {
    color: #DDD;
}

.header-search-city-input:focus {
    background-color: #FFFECE;
}

.dimmer {
    background: #000;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.bq-user-modal-container {
    position: absolute;
}

.bq-user-modal {
    position: absolute;
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: 300;
}

.bq-modal-signup {
    display: none;
    background: #FFF;
    top: 10vw;
    left: 35vw;
    width: 30vw;
    height: 24vw;
    z-index: 4;
}

.bq-modal-signin {
    /*display: none;*/
    background: #FFF;
    top: 10vw;
    left: 35vw;
    width: 30vw;
    height: 36vw;
    z-index: 4;
}

.modal-close-button {
    margin: 1vw 1vw 0 27.6vw;
    width: 1.5vw;
    height: 1.5vw;
    background-image: url("/images/close-button.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.link-to-signin {
    text-align: center;
    font-size: 1vw;
}

.link-to-signin span {
    color: #A0A0A0;
}

.link-to-signin a {
    color: #50A7AF;
    text-decoration: none;
}

.bq-user-modal h2 {
    width: 92%;
    text-align: center;
    border-bottom: 2px solid #F2F2F2;
    line-height: 0.1em;
    margin: 20px 20px 30px;
}

.bq-user-modal h2 span {
    color: #767676;
    background: #fff;
    padding: 0 10px;
    font-weight: 100;
    font-size: 1vw;
}

.field-set label {
    display: none;
}

.field-set input {
    margin-left: 3%;
    width: 92%;
    height: 2.2vw;
    border: 1px solid #E0E0E0;
    font-size: 0.9vw;
    font-weight: 100;
    text-indent: 0.8vw;
}

.bq-error-message {
    display: none;
}

.signup-btn {
    background: #8292F7;
    width: 92.7%;
    margin-top: 1%;
    margin-left: 3%;
    height: 3vw;
    font-size: 1.3vw;
    font-weight: 400;
    color: white;
}