article {
    height: 200%;
}

a {
    color: black;
}

li {
    list-style: none;
}

.filter-zone {
    margin: 2% 10% 0 10%;
}

.filter-zone li {
    display: inline-block;
    list-style: none;
    border: solid;
    border-radius: 10px;
    border-color: #DDD;
    border-width: 1.2px;
    color: #DDD;
    text-align: center;
}

.filter-zone li:hover {
    box-shadow: 0.1px 1.3px 0.1px 0.5px #d9d9d9;
    cursor: pointer;
    color: #8799E9;
    opacity: 0.7;
}

.filter-zone .is-checked {
    color: #8799E9;
    box-shadow: 0.1px 1.3px 0.1px 0.5px #d9d9d9;
}

.subject-filter li {
    font-size: 25px;
    width: 115px;
    font-weight: 500;
}

.theme-filter li {
    padding: 0 1% 0 1%;
}

.theme-filter li:hover {
    border-bottom: solid;
    border-color: #DDD;
    border-width: 1px;
    box-shadow: 0.1px 1.3px 0.1px 0.5px #d9d9d9;
}

.theme-filter .is-checked {
    box-shadow: 0.1px 1.3px 0.1px 0.5px #d9d9d9;
}

.article-list {
    width: 80%;
    display: none;
}

.article-list.is-visible {
    display: inline-block;
}

.local-list {
    width: 100%;
}

li.local-article {
    margin: 20px 1% 20px 1%;
    display: none;
    width: 30%;
    height: 320px;
    min-width: 280px;
    padding: 0 0 2vw 0;
    border: solid;
    border-width: 0.017px;
    border-color: #FFF;
    float: left;
    box-shadow: 0.1px 1.3px 0.1px 0.5px #FFF;
    /*-webkit-transition: 0.3s ease-in;*/
}

li.is-visible {
    display: inline-block;
}

li.local-article:hover {
    margin: 15px 1% 25px 1%;
    cursor: pointer;
    border: solid;
    border-width: 0.017px;
    border-color: #DDD;
    box-shadow: 0.1px 1.3px 0.1px 0.5px #d9d9d9;
}

.local-article-photo {
    width: 100%;
    height: 180px;
}

.article-list {
    margin: 3% 7% 0 7%;
}

div.profile {
    width: 30%;
    display: inline-block;
    margin: 0 0 0 1vw;
    text-align: center;
}

p.profile-name {
    margin: 0;
    display: inline-block;
    font-weight: 900;
}

.profile-image {
    background-image: url("/images/sample-man.jpeg");
    background-position: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    z-index: 1;
    display: inline-block;
    margin: -3.5vw 0 0 0;
    border: solid;
    border-color: #8799E9;
}

h5.article-title {
    margin: 1vw 0 0 0;
    font-size: 23px;
    text-align: right;
    display: inline-block;
    width: 63%;
    vertical-align: top;
}

p.location {
    margin: 0.3vw 1vw -0.2vw 0;
    color: #BBB;
    text-align: right;
}

ul.article-themes {
    margin: 1vw 1vw 0 0;
    text-align: right;
}

li.article-theme {
    display: inline-block;
    border: solid;
    border-radius: 10px;
    border-color: #8799E9;
    border-width: 1.2px;
    color: #8799E9;
    text-align: center;
    padding: 0 1% 0 1%;
}

p.liner {
    float: left;
}

.write-article {
    position: fixed;
    background-color: #EEE;
    background-image: url("/images/new_post_size2_btn.png");
    background-size: 100%;
    width: 70px;
    height: 70px;
    top: 80%;
    right: 10%;
    border-radius: 3em;
    box-shadow: 2px 2px #DDD;
}

.write-article:hover {
    cursor: pointer;
    opacity: 0.7;
}