@font-face {
    font-family: "sun-valley";
    src: url("/fonts/SunValley.ttf") format("truetype");
}

.search-area {
    display: inline-block;
    width: 100%;
}

.search-city-input {
    margin: 20px -128px 20px 23%;
    height: 37px;
    width: 50%;
    background-image: url("/images/search-icon.png");
    background-repeat: no-repeat;
    background-position: 15px;
    background-size: 20px;
    border-radius: 2em;
    text-indent: 55px;
    font-size: 110%;
    border: solid #8799E9 2px;
    outline: none;
    box-shadow: 0.1px 1.3px 0.1px 0.5px #d9d9d9;
}

.search-city-input::-webkit-input-placeholder {
    margin-top: -3px;
    font-size: 20px;
}

.search-city-input:focus {
    background-color: #FFFECE;
}

#search-button {
    border: none;
    font-size: 120%;
    background-color: #8799E9;
    border-radius: 2em;
    color: #FFF;
    padding: 10px 30px 10px 30px;
    outline: none;
}

#search-button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.illust-zone {
    margin: 3%;
    padding:0px;
}

.illust {
    margin: 8px;
    display: inline-block;
    box-shadow: 0.1px 1.3px 0.1px 0.5px #d9d9d9;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: "sun-valley";
    font-size: 5vw;
    -webkit-transition: all 0.3s ease-out;
    vertical-align: -webkit-baseline-middle;
    border: solid;
    border-width: 1px;
    border-color: #FFF;
}

.illust:hover {
    opacity: 0.8;
    font-size: 6vw;
    margin: 4px 8px 12px 8px;
    cursor: pointer;
    border-color: #DDD;
    box-shadow: 0.1px 1.3px 1px 0.5px #d9d9d9;
}

h5.city-name {
    font-weight: 100;
}

.city-name {
    display: inline-block;
}

.illust.seoul {
    background-image: url("/images/illust/illust-seoul.png");
    width: 23vw;
    height: 16vw;
    margin: -6vw 0 0 0;
}

.illust.seoul:hover {
    margin: -6.5vw 0 0 0;
}

h5.city-name.seoul {
    margin: 25% 0 0 25%;
}

.illust.jeonju {
    background-image: url("/images/illust/illust-jeonju.png");
    width: 18vw;
    height: 22vw;
}

h5.city-name.jeonju {
    margin: 25% 0 0 30%;
}

.illust.suwon {
    background-image: url("/images/illust/illust-suwon.png");
    width: 20vw;
    height: 20vw;
    margin:-2vw 0 0 0;
}

.illust.suwon:hover {
    margin: -2.5vw 0 0 0;
}

h5.city-name.suwon {
    margin: 20% 0 0 30%;
}

.illust.busan {
    background-image: url("/images/illust/illust-busan.png");
    width: 23vw;
    height: 18vw;
    margin:-4vw 0 0 1vw;
}

.illust.busan:hover {
    margin: -4.5vw 0 0 1vw;
}

h5.city-name.busan {
    margin: 15% 0 0 25%;
}

.illust.suncheon {
    background-image: url("/images/illust/illust-suncheon.png");
    width: 22vw;
    height: 23vw;
    margin: -5vw 0 0 0.5vw;
}

.illust.suncheon:hover {
    margin: -5vw 0 0 0.5vw;
}

h5.city-name.suncheon {
    margin: 20% 0 0 25%;
}

.illust.dangjin {
    background-image: url("/images/illust/illust-dangjin.png");
    width: 21vw;
    height: 16vw;
    margin: -1vw 0 0 0.5vw;
}

.illust.dangjin:hover {
    margin: -1.5vw 0 0 0.5vw;
}

h5.city-name.dangjin {
    margin: 40% 0 0 30%;
}

.illust.paju {
    background-image: url("/images/illust/illust-paju.png");
    width: 22vw;
    height: 15.5vw;
    margin: -5.5vw 0 0 1vw;
}

.illust.paju:hover {
    margin: -6vw 0 0 1vw;
}

h5.city-name.paju {
    margin: 20% 0 0 57%;
}
.illust.yongin {
    background-image: url("/images/illust/illust-yongin.png");
    width: 19vw;
    height: 17vw;
    margin: -7vw 0 0 1vw;
}

.illust.yongin:hover {
    margin: -6.5vw 0 0 1vw;
}

h5.city-name.yongin {
    margin: 7% 0 0 42%;
}

.about-area {
    width: 100%;
    height: 55%;
    margin: 5% 0 0 0;
    background-color: #F9F9F9;
}

.about-image {
    width: 80%;
    height: auto;
    background-image: url("/images/about-amigo-nobg.png");
    background-repeat: no-repeat;
    margin: auto;
    background-size: 100%;
}

.about-sketchbook {
    margin: auto;
    text-align: center;
    padding: 30% 4% 9% 0;
}

h3.about-desc {
    display: inline-block;
    font-family: "sun-valley";
    font-size: 4vw;
    margin: 3vw 0 1vw 0;
}

a.about-button {
    display: inline-block;
    color: #000;
}

div.about-button {
    background-image: url("/images/arrow1.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 5vw;
    height: 2.2vw;
    -webkit-transition: 0.3s;
}

div.about-button.active {
    animation: shake 1.5s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

/*.about-button {*/
    /*margin: 0 auto;*/
    /*width: 20vw;*/
    /*height: 6vw;*/
    /*background-image: url("/images/about-amigo.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
/*}*/

/*.about-button:hover {*/
    /*cursor: pointer;*/
    /*-webkit-transition: all 0.3s ease-out;*/
    /*-webkit-transform: scale(1.1);*/
/*}*/

@keyframes shake {
    10%, 50%, 90% {
        transform: translate3d(4px, 0, 0);
    }

    30%, 70% {
        transform: translate3d(0, 0, 0);
    }
}