<footer>
    <div class="footer-sections contact-info-zone">
        <h4 class="footer-title">Contact Info</h4>
        <ul class="contact-info">
            <li><h5 class="subject">Tel.&nbsp</h5>82-10-7666-1533</li>
            <li><h5 class="subject">Address.&nbsp</h5>82-10-7666-1533</li>
            <li><h5 class="subject">Email.&nbsp</h5>amigotrip82@gmail.com</li>
            <br>
            <li>ⓒ Amigo.Inc</li>
        </ul>
    </div>

    <div class="footer-sections social-networks-zone">
        <h4 class="footer-title">Social Networks</h4>
        <ul>
            <li class="hover-pointer"><img src="/images/facebook-logo.png"></li>
        </ul>
    </div>

    <div class="footer-sections mobile-apps-zone">
        <h4 class="footer-title">Mobile Apps</h4>
        <ul>
            <li class="hover-pointer"><img src="/images/google-play.png"></li>
            <li class="hover-pointer"><img src="/images/app-store.png"></li>
        </ul>
    </div>
    <script src="/js/header.js"></script>
</footer>

