<header>
    <a class="main-link" href="/">
        <img class="main-logo" src="/images/amigo-logo.png">
    </a>
    <form class="header-form" action="/search" method="post">
        <input type="text" class="search-city-input header-search-city-input is-visible"
               value="{{searchValue}}" id="ac1" name="city" placeholder="Search city">
    </form>
    <div class="user-option">
        {{#authorize "isAnonymous()"}}
            <button class="session-info login-button">Login</button>
            <button class="session-info signup-button">Signup</button>
        {{/authorize}}
        {{#authorize "isAuthenticated()"}}
            <button class="session-info user-info" data-id="{{authenticatedUser.id}}">{{authenticatedUser.name}}</button>
            <button class="session-info logout-button">Logout</button>
        {{/authorize}}
    </div>
</header>

<div class="dimmer"></div>

<div class="bq-user-modal-container">
    <div class="bq-user-modal bq-modal-signup">
        <div class="modal-close-button"></div>
        <div class="link-to-signin">
            <span>Log in with </span><a href="#">Social account</a>
        </div>
        <h2><span>or</span></h2>

        <p class="field-set">
            <label class="bq-username">name</label>
            <input class="bq-input" id="signup-username" type="text" placeholder="Create a Username">
            <span class="bq-error-message" id="signup-username-error">Error message here!</span>
        </p>
        <p class="field-set">
            <label class="bq-email">email</label>
            <input class="bq-input" id="signup-email" type="text" placeholder="E-mail Address">
            <span class="bq-error-message" id="signup-email-error">Error message here!</span>
        </p>
        <p class="field-set">
            <label class="bq-password">password</label>
            <input class="bq-input" id="signup-password" type="password" placeholder="Create a Password">
            <span class="bq-error-message" id="signup-password-error">Error message here!</span>
        </p>
        <p class="field-set">
            <label class="bq-password-confirm">password confirm</label>
            <input class="bq-input" id="signup-password-confirm" type="password" placeholder="Password confirm">
            <span class="bq-error-message" id="signup-password-confirm-error">Error message here!</span>
        </p>
        <!--<input class="bq-input" id="signup-password-hidden" type="hidden">-->
        <!--<input class="bq-input" id="signup-password-confirm-hidden" type="hidden">-->

        <button class="signup-btn disabled">Sign up</button>
    </div>

    <div class="bq-user-modal bq-modal-signin">
        <div class="modal-close-button"></div>
        <div class="social-login-btn-facebook">
            <div class="facebook-btn"></div><p>Log in with facebook</p>
        </div>
        <div class="social-login-btn-google">
            <div class="google-btn"></div><p>Log in with google</p>
        </div>
        <h2><span>or</span></h2>

        <p class="field-set">
            <label class="bq-email">email</label>
            <input class="bq-input" id="login-email" type="text" placeholder="E-mail Address">
            <span class="bq-error-message" id="login-email-error">Error message here!</span>
        </p>
        <p class="field-set">
            <label class="bq-password">password</label>
            <input class="bq-input" id="login-password" type="password" placeholder="Create a Password">
            <span class="bq-error-message" id="login-password-error">Error message here!</span>
        </p>

        <!--<input class="bq-input" id="login-password-hidden" type="hidden">-->

        <button class="login-btn disabled">Log in</button>

        <h2></h2> <!-- line between Log in button and link to sign up modal -->

        <div class="link-to-signup">
            <span>New to Amigo? </span><button class="link-to-signup-btn">Sign up</button>
        </div>
    </div>
</div>
